doctype html
//
  Future Imperfect by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Future Imperfect by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  body
    // Wrapper
    #wrapper
      // Header
      header#header
        h1
          a(href='/') Go on Trip
        nav.links
          ul
            li
              a(href='/Introduction') Introduction
            li
              a(href='/Community') Community
            li
              a(href='/Information') information
            li
              a(href='/QandA') Q&A
        nav.main
          if nickName
            ul
              li
                a Welcome 
                =nickName
              li
                a.button.small.fit(href='/logout') Logout
          else
            ul
              li
                a.button.small.fit(href='/login') Log In
              li
                a.button.small.fit(href='/register') Register
      // Main
      #main
        section
          h2 upload
          form(action='/Uploadtimelineimg' enctype="multipart/form-data" method='post')
            input(type='file', name='timelineimg')
            input(type='submit', value='이미지 등록')
          form(action='/Uploadtimeline' method='post')
            input(type='text', name='timelinetitle', placeholder='Title')
            br
            textarea(type='text', name='timelinecontent', placeholder='Enter the contents')
            br
            br
            input.big(type='submit', value='Save')
            

            
            
      // Footer
      section#footer
        section
          a(href='/Community')
            p(style='font-size: 2em') COMMUNITY
          ul.posts
            li
              article
                header
                  h3
                    a(href='/Timeline')  Timeline
            li
              article
                header
                  h3
                    a(href='/Tips') tips
        ul.icons
          li
            a.fa-twitter(href='#')
              span.label Twitter
          li
            a.fa-facebook(href='#')
              span.label Facebook
          li
            a.fa-instagram(href='#')
              span.label Instagram
          li
            a.fa-rss(href='#')
              span.label RSS
          li
            a.fa-envelope(href='#')
              span.label Email
        p.copyright
          | © Untitled. Design: 
          a(href='http://html5up.net') HTML5 UP
          | . Images: 
          a(href='http://unsplash.com') Unsplash
          | .
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
